.nav{
    background-color: #3A80BA;
    width: 100%;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px 0 14px;
    @media screen and (max-width: 1200px) {
        margin: 0 10px 14px;
    }
    &_logo{
        font-size: 40px;
        font-weight: 400;
        color: #fff;
        margin: 0;
        text-decoration: none;
    }
}